extends layout

block content
  h1 #{cnpj}

  a.button(href='') i want a new one

  p needs a restful resourse ?
    pre
      code curl http://bradoc.herokuapp.com/cnpj

  p
    small for development propouses only. needs for production? try
      a.button(href='https://github.com/jugoncalves/bradoc') this one
      | .