extends layout

block content
  h1 #{cpf}

  a.button(href='') i want a new one

  p needs a restful resourse ?
    pre
      code http://resting-bradoc.herokuapp.com/cpf

  p
    small for development propouses only. needs for production? try
      a.button(href='https://github.com/jugoncalves/resting-bradoc') this one
      | .