extends layout

block content
  h1 Resting Bradoc
  p 
    | a resource  - restful also - to 
    br
    a.button(href='/gen/cpf') cpf
    | and 
    a.button(href='/gen/cnpj') cnpj
    br
    | generator.